*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main {
  margin: 60px 16px 0;
}

a {
  color: inherit;
}

.video-box {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.video-box,
.video-box video,
.video-box .video-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-box video {
  object-fit: cover;
}

.video-box .video-text {
  display: flex;
}

.main {
  background: transparent;
  position: relative;
  margin-top: 100vh;
}

.main::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  top: -100vh;
}

.main::after {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.slogan-banner {
  background-color: #b22222;
  color: white;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-text {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url(/equipment-sas.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.BW {
  filter: grayscale(100%);
}

.locations-text {
  background-color: #242629;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url(/locations-sas.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.feature-html,
.feature-body {
  height: 120vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: -20px;
  font-size: 3vmin;
}

.feature-html {
  background: #151515;
  color: #fff;
  overflow: hidden;
}

.feature-body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.feature-main {
  z-index: 99;
  background: black;
  position: relative;
}

.feature-main::before {
  position: absolute;
  top: 0;
  left: 0;
  top: -120vh;
}

.feature-text {
  z-index: 100;
  background: white;
  width: 100vw;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  position: relative;
  display: grid;
}
.slides > .slide {
  grid-area: 1 / -1;
}

.slideBTN {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  font-size: 10rem;
  width: 5rem;
  height: 5rem;
  z-index: 5;
  top: 30%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.7;
}

.slideBTN:hover {
  opacity: 1;
}

.slideBTN:focus {
  outline: none;
}

.leftBTN {
  left: -50%;
}

.rightBTN {
  right: -50%;
}

.slideContent {
  width: 30vw;
  height: 40vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: flex-end;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(2rem);
  transform: translateZ(2rem);
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
}
.slideContentInner .slideSubtitle,
.slideContentInner .slideTitle {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  margin: 0;
}
.slideContentInner .slideSubtitle::before {
  content: "— ";
}
.slideContentInner .slideDescription {
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateX(calc(10% * var(--dir)));
  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}
.slide[data-active] .slideBackground {
  opacity: 0.2;
  -webkit-transform: none;
  transform: none;
}
.slide[data-active] .slideContentInner {
  opacity: 1;
  margin-bottom: 10vh;
  margin-left: 3vh;
}
.slide[data-active] .slideContent {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  opacity: 1;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}
.slide[data-active] .slideContent:hover {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
    rotateX(calc(var(--y) * -45deg));
  transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
    rotateX(calc(var(--y) * -45deg));
}

.Loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #444;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Feed {
  margin: auto;
  padding: 1% 7%;
}

.Feed a img {
  margin: 1% 1%;
  width: 31.3%;
  float: left;
  animation: fadein 0.5s;
  /* filter: brightness(20%); */
  filter: grayscale(100%);
}

.Feed a img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.8));
  /* filter: brightness(100%); */
  filter: grayscale(0%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
.section2 {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.parallax::after {
  background-image: url(/contact.jpg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  transform: translateZ(-1px) scale(1.7);
  z-index: -1;
}

.greeting {
  height: 100vh;
  color: white;
}

.greeting h5 {
  margin: 0 15vw;
}

.greeting::after {
  background-image: url(/contact.jpg);
}

.Tennessee {
  height: 100vh;
}

.Tennessee::after {
  background-image: url(/contact.jpg);
}

.Kentucky {
  height: 100vh;
  text-align: center;
}

.Kentucky::after {
  background-image: url(/contact.jpg);
}

.Kentucky button {
  z-index: 2;
  font-size: 2rem;
}

.Los-Angeles {
  height: 100vh;
  text-align: center;
}

.Los-Angeles::after {
  background-image: url(/contact.jpg);
}

.footer {
  padding-top: 40vh;
  padding: 3vh 3vw 0;
  align-items: flex-start !important;
  background-color: white;
  color: black;
  height: 80vh;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
  padding-left: 150px;
}
